<?xml version="1.0" encoding="utf-8"?>
<!--

-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vivantecorp.graphics.tutorial5">
    <application
            android:label="@string/gl2tutorial5_activity">
        <activity android:name="GL2Tutorial5Activity"
		android:icon="@drawable/icon"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            	android:launchMode="singleTask"
            	android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
